.fall {
    margin: 0;
    padding: 0%;
    background-color: white;
    color: black;
    width: screen;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-bottom: 20px;
}

.div1 {
    margin-left: 6.5vw;
    grid-column: span 2 / span 2;
}

.logod {
    text-align: left;
}

.logo {
    background-color: transparent;
    height: 58px;
    width: full;
    margin-top: 20px;
}

.gba-button {
    background-color: rgb(15, 188, 0);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    height: 36px;
    width: 96px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gba-button:hover {
    background-color: #EA9156;
    cursor: pointer;
}

.text1 {
    font-weight: 700;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-weight: 700;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.rec {
    width: 52px;
    background-color: rgb(15, 188, 0);
    height: 2px;

}

.text2 {
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    margin-top: 10px;
    text-align: left;
}

.icon {
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.under {
    height: 60px;
    width: screen;
    background-color: rgb(15, 188, 0);
    text-align: left;
    align-content: center;
    color: white;
    padding-left: 25px;
    font-weight: 600;
    font-size: 16px;
}