green {
    color: #0fbc00;
}

.content {
    text-align: justify;
    font-weight: 450;
}

.gridGBA {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 13.5vw;
    margin-right: 13.5vw;
}

.grid-item {
    background-color: #e9f2ee;
    border: #e9f2ee solid 1px;
    border-radius: 1rem;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    padding: 20px;
}

/* ul {
    list-style-image: url('../picture/pointer.png');
} */