green {
    color: #0fbc00;
}

.content {
    text-align: justify;
    font-weight: 450;
}


.grid_GBA {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem; 
    margin: 4rem; 
}

.grid-item {
    background-color: #e9f2ee;
    border: #e9f2ee solid 1px;
    border-radius: 1rem;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    padding: 20px;
}
#special-item::marker {
    color:#0fbc00;
  }
  
.line {
    width: 2px;
    height: 60px; /* Chiều cao đường phân cách */
    background-color: green; /* Màu đường phân cách */
}
/* ul {
    list-style-image: url('../picture/pointer.png');
} */